@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../diy-font/iconfont.ttf?t=1620546934417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang-copy:before {
  content: "\e65b";
}

.icon-cundang:before {
  content: "\e751";
}

.icon-QQ:before {
  content: "\e698";
}

.icon-sousuo:before {
  content: "\e502";
}

.icon-rss:before {
  content: "\e607";
}

.icon-jilu:before {
  content: "\e7f2";
}

.icon-kaishi:before {
  content: "\e660";
}

.icon-wo:before {
  content: "\e610";
}

.icon-GitHub:before {
  content: "\e503";
}

.icon-youlianguanli:before {
  content: "\e66f";
}

.icon-zhuye-copy-copy:before {
  content: "\e50b";
}

.icon-biaoqian_huaban1:before {
  content: "\e605";
}

.icon-category:before {
  content: "\e504";
}

.icon-email3:before {
  content: "\e6b1";
}

